<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.mapper.ArticelMapper">
    <resultMap id="articleComment" type="com.wang.pojo.Article">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="created" property="created"/>
        <collection property="commentList" column="id" ofType="com.wang.pojo.Comment" select="com.wang.mapper.CommentMapper.findByAid">
            <result column="user_id" property="userId"/>
            <result column="article_id" property="articleId"/>
        </collection>
    </resultMap>
    <select id="queryAllArticles" resultMap="articleComment">
        SELECT * from article
    </select>
    <insert id="saveArticle" useGeneratedKeys="true" keyProperty="id">
        insert into article values (null,#{name},#{title},#{content},#{created})
    </insert>
</mapper>